node_modules/
.env
.env.local
*.log
npm-debug.log*
.DS_Store
dist/
build/
client/build/
client/node_modules/
.idea/
*.swp
*.swo
coverage/
.nyc_output/
.txt
.vscode/
.cache/
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.exe
*.dll

# Local Netlify folder
.netlify
